html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url(../images/amritsarskyline.JPG);
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}